
.titulo {text-align: center;}

.form, label, input, select {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
}

.spa {
    display: inline;
}

.total {text-align: center; color: blue;}